$primary: #42b983;
$primary-red: #EF5350;
$ice-blue: #f0f8ff;

$linkedin-icon-color: #2867B2;
$phone-icon-color: #49bf29;
$gmail-icon-color: #F44336;
$tg-icon-color: #0088cc;
$vk-icon-color: #597da3;
$ig-icon-col-default: #d6249f;
$ig-icon-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);