%hide {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.drop_area {
    border-radius: 10px;
    margin: 10px;
    min-height: 100px;
    width: 100%;
    border: 3px dashed $primary;
    font-weight: bold;
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: $primary;
    position: relative;
    border-radius: 99px;
    border: 2px solid $primary;
    font-size: 0.5rem;
    letter-spacing: 0.04rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: .35rem 0.8rem 0.3rem;
    font-weight: 600;
    width: 30%;
    min-width: 130px;
    max-width: 140px;
    outline: none;
    background: #fff;
    cursor: pointer;
    margin-right: 0.4rem;
    margin-top: 0.5rem;
    
    @media screen and (max-width: $breakpoint-sm) {
        margin-right: 0.2rem;
    }
    
    &_primary {
        background: $primary;
        color: #fff;
    }
    
    &:active {
        box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .3);
    }
    
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

@mixin box-mixin{
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 10px;
    background: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .2);
    display: flex;
    width: 95%;
}

.input_form {
    display: block;
    box-sizing: border-box;
    width: 30vw;
    min-width: 200px;
    max-width: 250px;
    position: relative;
    padding: 15px 0 0;
    margin-right: 0.4rem;
    
    @media screen and (max-width: $breakpoint-md) {
        width: 33vw;
        
        &__group {
            width: 100%;
        }
        button.btn {
            width: 100%;
        }
    }
    
    &__input {
        width: 100%;
        border: 0;
        border-bottom: 2px solid $primary;
        outline: 0;
        font-size: 0.6rem;
        letter-spacing: 0.05em;
        color: $primary;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        
        &::placeholder {
            color: transparent;
        }
        
        &:placeholder-shown ~ .input_form__label {
            user-select: none;
            font-size: 0.55rem;
            cursor: text;
            top: 27px;
        }
    }
    
    &__label {
        position: absolute;
        top: 5px;
        display: block;
        transition: 0.2s;
        font-size: 0.5rem;
        letter-spacing: 0.1em;
        color: $primary;
    }
    
    &__input:focus {
        ~ .input_form__label {
            position: absolute;
            top: 5px;
            display: block;
            transition: 0.2s;
            font-size: 0.5rem;
        }
    }
    
    &__input {
        &:required, &:invalid {
            box-shadow: none;
        }
    }
}

.upload_card {
    @include box-mixin;
    
    &__wrapper {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        padding: 0.6rem 0.7rem;
        
        .loading {
            letter-spacing: 0.04rem;
            display: block;
            padding: .3rem;
            margin-top: .3rem;
            color: $primary;
            font-weight: bold;
        }
    }
    
    input[type="file"] {
        @extend %hide;
    }
}

h5.alert_header{
    user-select: none;
    font-size: 0.9rem;
    font-family: "Work Sans";
}

@media (max-width: 780px) {
    .preview_item {
        &__remove {
            opacity: 1 !important;
        }
        
        &__info {
            bottom: 0 !important;
        }
    }
}